@import '../../../scss/colors.scss';

#sidebar {
  overflow-x: hidden;
  width: 300px;
  background: $midnight-blue-2;
  transition: width 200ms;
  &.collapsed {
    width: 0px;
  }

  & a {
    text-align: left;
    font-size: 14px;
    &:hover {
      color: $accent-purple-60;
    }
  }
}

#sidebar-content {
  width: 233px;
  padding: 32px;
}

.entity-card {
  padding: 8px;
  border-radius: 8px;
  & .jurisdiction {
    font-size: 10px;
  }
  & .greish {
    color: $gray-600;
  }
}
