@import '../../scss/colors.scss';

.btn-icon {
  border-radius: 30px;
}

.btn-back {
  position: absolute;
  top: 26px;
  left: 24px;
}

.owner-badge {
  float: left;
  margin-right: 8px;
  color: $cyan;
}

.jurisdiction {
  letter-spacing: 0.05em;
  color: $gray-200;
}

.bot-icon {
  float: right;
  position: absolute;
  height: 341px;
  top: -34px;
}
.bot-icon-small {
  float: right;
  position: absolute;
  height: 182px;
  top: -16px;
  right: 40px;
}

.welcome {
  background: $gradient-medium;
}

.nav {
  border-bottom: 2px solid $accent-purple-40;
  padding-bottom: 0px;
  margin-bottom: 40px;
  & .nav-item {
    // color: $accent-purple-20;
    padding-bottom: 16px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 200ms;
    &:hover {
      border-bottom: 2px solid $accent-purple-100;
    }
    & .nav-link {
      color: $accent-purple-40;
      &.active {
        color: $accent-purple-100;
      }
    }
  }
}

// .squared {
//   width: 60vh;
//   height: 60vh;
// }
