@import '../scss/colors.scss';

.btn-icon {
  border-radius: 30px;
}

.btn-back {
  position: absolute;
  top: 34px;
  left: 24px;
  border: none !important;
}

.jurisdiction {
  letter-spacing: 0.05em;
  color: $gray-200;
}

.bot-icon {
  float: right;
  position: absolute;
  height: 341px;
  top: -34px;
}

// .squared {
//   width: 60vh;
//   height: 60vh;
// }

.container-sg {
  margin: 0 !important;
  margin-top: -40px !important;
  padding: 0;

  left: 0;

  max-width: 100vw;
  max-height: 80vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 460px) {
  .container-sg {
    margin: 0 !important;
    margin-top: -15px !important;

    max-height: 100vh;
  }
}
