@import 'scss/colors.scss';

.account-widget {
  background: $accent-purple-20;
  padding: 12px;
  border-radius: 12px;
  color: $accent-purple-100;
  float: right;
  position: fixed;
  top: 25px;
  right: 25px;
  cursor: pointer;
  p {
    text-align: right;
  }
  .network {
    text-transform: uppercase;
  }
  &:hover {
    color: $accent-purple-brightest;
  }
}
