@import 'scss/colors.scss';

.footer {
  // position: fixed;
  // right: 20px;
  // bottom: 20px;
  font-size: 14px !important;
  // float: right;
  // text-align: right;
  padding: 40px;
  margin-top: 60px;
}

.footer-links {
  width: 100%;
  color: $white !important;
  a {
    color: $white !important;
  }
}