// Grid containers
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);

// @include _assert-ascending($container-max-widths, "$container-max-widths");

.limiter-sm {
  max-width: map-get($container-max-widths, sm) !important;
}

.limiter-md {
  max-width: map-get($container-max-widths, md) !important;
}

.limiter-lg {
  max-width: map-get($container-max-widths, lg) !important;
}
