$white: rgba(255, 255, 255, 1) !default;
$gray-100: rgba(255, 255, 255, 0.9);
$gray-200: rgba(255, 255, 255, 0.8);
$gray-300: rgba(255, 255, 255, 0.7);
$gray-400: rgba(255, 255, 255, 0.6);
$gray-500: rgba(255, 255, 255, 0.5);
$gray-600: rgba(255, 255, 255, 0.4);
$gray-700: rgba(255, 255, 255, 0.3);
$gray-800: rgba(255, 255, 255, 0.2);
$gray-900: rgba(255, 255, 255, 0.1);
$black: #030B13 !default;

$midnight-blue-0: #030B13;
$midnight-blue-1: #0B1326;
$midnight-blue-2: #0B162D;

$blue: #03a9f4 !default;
$indigo: #3f51b5 !default;
$pink: #e91e63 !default;
$red: #f44336 !default;
$orange: #ff5722 !default;
$yellow: #ffab00 !default;
$green: #25CE95 !default;
$cornflower: #5E4DFD !default;      // Button Left
$purple: #8E83F0 !default;          // Button Right
$teal: #7479FF !default;            // 

$cyan: #0FEEF1 !default;
$cyan-80: rgba(15, 238, 241, 0.8) !default;
