// Colors
//
// Grayscale and brand colors for use across Bootstrap.

// Start with assigning color names to specific hex values.
//
// COLOR SYSTEM
//
@import './colors.scss';

// Reassign color vars to semantic color scheme

$primary: $teal;
$secondary: $purple;
$success: $teal;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-100;
$background: $black;

$border-radius: 16px;
$border-color: transparent;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-rounded: true ;
$enable-shadows: true ;
$enable-gradients: true ;
$enable-transitions: true ;
$enable-hover-media-query: false ;
$enable-grid-classes: true ;
$enable-print-styles: true ;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 640px,
  lg: 710px,
  xl: 780px,
) ;

// Body
//
// Settings for the `<body>` element.
$body-bg: $black;
$body-color: $white;
$inverse-bg: $white;
$inverse-color: $black;

// Fonts
//
@import './fonts.scss';

@import 'node_modules/bootstrap/scss/bootstrap.scss';

html,
body {
  height: 100%;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: $black;
  background-repeat: no-repeat;
  background-size: 100% 40%;
  background-position: 0px calc(80vh - 5vw);
  background-attachment: fixed;
  background-blend-mode: lighten;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


// Buttons
.btn-primary{
  color: $white;
  font-size: 16px;
  border-radius: 16px;
  padding: 16px 16px;
  border: solid 1px transparent;
  background-image: linear-gradient(90deg,$black,$black), linear-gradient(90deg, $cornflower, $purple);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px $black inset;
  transition: all 100ms linear;
  &:hover, &:active, &:visited, &:focus{
    color: $white;
    border: solid 1px transparent;
    box-shadow: 2px 1000px 1px transparent inset;
    background-image: linear-gradient(90deg, $cornflower, $purple),linear-gradient(90deg, $cornflower, $purple);
  }
}

.input-group-append {
  background: transparent;
  .btn{
    padding: 12px 16px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .btn.disabled{
    color: $white !important;
    border: 1px solid $gray-400 !important; 
    border-left: none;
    border-right: none;
    &:not(:last-child) {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  }
  .dropdown-item{
    color: $white;
    &:hover, &:active, &:focus {
      background: linear-gradient(90deg, $cornflower, $purple);    
    }
  }
  .dropdown-menu{
    background: $black;
    border: 1px solid $teal;
    color: $white !important;
  }
}

.form-control,
.input-group input{
  background: transparent !important;
  color: $white !important;
  &:focus,
  &:focus-visible,
  &:active{
    background: transparent !important;
  }
  &.right{
    border-right: none;
  }
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

img {
  margin-bottom: 15px;
  max-width: 100%;
}

img:hover {
  animation: pulse 0.5s;
}

.padded {
  position: relative;
  padding: 32px 32px 167px 32px;
  min-height: 100vh;
  margin-bottom: -177px;
}

@media (max-width: 640px) {
  .padded {
    padding: 24px 24px 233px 24px;
    margin-bottom: -200px;
  }
}

.column-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

// TERMS
.terms {
  .c3 {
      font-weight: 600;
      margin: 14pt 0px;
  }
}
// PRIVACY
.privacy {
  .c23 {
      font-style: italic;
  }

  .c9, .c6 {
      font-weight: 800;
  }

  .c13 {
      font-weight: 800;
      margin: 30pt 0px;
  }
}

$card-spacer-x: 0px;
$card-bg: $black;

.card {
  padding: 16px;
  background: $black;
  box-shadow: 0px 0px 10px $gray-600;
}

.table thead th{
  border-bottom: none;
}

.my-node-enter {
  transform: translate3d(50px, 0px, 0px);
  opacity: 0;
}
.my-node-enter-active {
  transform: translate3d(0px, 0px, 0px);
  opacity: 1;
  transition: opacity 200ms, transform 200ms;
}
.my-node-exit {
  transform: translate3d(0px, 0px, 0px);
  opacity: 1;
}
.my-node-exit-active {
  transform: translate3d(-50px, 0px, 0px);
  opacity: 0;
  transition: opacity 500ms, transform 500ms;
}

.slide-up-enter {
  transform: translate3d(0px, -50px, 0px);
  opacity: 0;
}
.slide-up-enter-active {
  transform: translate3d(0px, 0px, 0px);
  opacity: 1;
  transition: opacity 200ms, transform 200ms;
}
.slide-up-exit {
  transform: translate3d(0px, 0px, 0px);
  opacity: 1;
}
.slide-up-exit-active {
  transform: translate3d(0px, -50px, 0px);
  opacity: 0;
  transition: opacity 200ms, transform 200ms;
}